<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">
    <display-name>Arit Web Application</display-name>
    <listener>
        <listener-class>org.codehaus.plexus.servlet.PlexusServletContextListener</listener-class>
    </listener>
    <servlet>
        <display-name>Inspector servlet</display-name>
        <servlet-name>InspectorServlet</servlet-name>
        <servlet-class>com.googlecode.arit.servlet.PlexusProxyServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>Icon servlet</display-name>
        <servlet-name>IconServlet</servlet-name>
        <servlet-class>com.googlecode.arit.servlet.PlexusProxyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InspectorServlet</servlet-name>
        <url-pattern>/report.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IconServlet</servlet-name>
        <url-pattern>/icons/*</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jspx</welcome-file>
    </welcome-file-list>
</web-app>
