<?eclipse version="3.0"?>
<plugin>
    <extension point="com.ibm.wsspi.extension.applicationserver-startup">
        <components>
            <component startup="5000"
                       class="com.googlecode.arit.websphere.ClassLoaderMonitor"
                       processType="Servant"
                       component-id="Arit_ClassLoaderMonitor"
                       startup-mode="immediate">
                <dependency type="service" name="com.ibm.ws.runtime.service.ApplicationMgr"/>
            </component>
        </components>
    </extension>
</plugin>
